<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
	    <mapping resource="src/dktc/javatech/jhibernate/entity/GiaoVien.hbm.xml" />
     	<mapping resource="src/dktc/javatech/jhibernate/entity/LopHoc.hbm.xml" />
	    <mapping resource="src/dktc/javatech/jhibernate/entity/LopHocPhongHoc.hbm.xml" />
	    <mapping resource="src/dktc/javatech/jhibernate/entity/Mon.hbm.xml" />
	    <mapping resource="src/dktc/javatech/jhibernate/entity/PhongHoc.hbm.xml" />
	    <mapping resource="src/dktc/javatech/jhibernate/entity/SinhVien.hbm.xml" />
	    <mapping resource="src/dktc/javatech/jhibernate/entity/SinhVienLopHoc.hbm.xml" />
    </session-factory>   
</hibernate-configuration>